.Contenedor-Grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row: repeat(6, 1fr);
    height: 400px;
    background: #797979;

}
.elemento2{
    grid-column: 5/6;
    grid-row: 6;
    /* background-color: rgb(165, 16, 101); */
    height: 100%;
}

.Contenedor-Item {
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedor-Flex {
    font-family: cursive;
    font-weight: bold;
    color: rgb(131, 233, 224);
    
}