body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(232, 237, 240);
}

.caja {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    color: antiquewhite;
    border-radius: 5px;
    margin: 5px;
    
}

#caja1 {
    background-color: crimson;
    box-shadow: 0px 0px  30px  rgb(228, 42, 28)  ;
}

#caja2 {
    background-color: blue;
    box-shadow: 0px 0px  30px  rgb(71, 43, 230)  ;
}

#caja3 {
    background-color: green;
    box-shadow: 0px 0px  30px  rgb(16, 187, 45)  ;
}

#caja4 {
    background-color: rgba(238, 184, 7, 0.973);
    box-shadow: 0px 0px  30px  rgb(233, 219, 25)  ;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: rgb(221, 205, 205);
    color: rgb(3, 3, 3);
    border-radius: 5px;

}

button:hover {
    background-color: grey;
}